<form class="example-form">
<md-card>

  <md-card-title>User Login</md-card-title>

  <p *ngIf="failure" >{{failure}}</p>

    <md-input-container class="example-full-width">
      <input type="email" mdInput  [(ngModel)]="loginData.email" name="email" placeholder="email">
    </md-input-container>
  <md-input-container class="example-full-width">
    <input type="password" mdInput  [(ngModel)]="loginData.password" name="password" placeholder="password">
  </md-input-container>
  <button md-raised-button (click)="submit()">Login</button>



  <!--<input [(ngModel)]="loginData.email" name="email" placeholder="email" />-->
    <!--<input [(ngModel)]="loginData.password" name="password" placeholder="password" type="password" />-->
    <!--<button md-raised-button (click)="submit()">Login</button>-->

</md-card>
</form>



