<div *ngIf="addresses && !isEditEnabled">

   
  <div  *ngFor="let address of addresses;  let i = index">
    <br><br>
    <div style="display: inline-block">
      Street: {{address.street}}<br>
      City: {{address.city}}<br>
      Country: {{address.country}}<br>
      Type: {{address.type}}<br>
    </div>
    <button style="float: right;" (click)="enableEdit(i)">Edit</button>
    <button class="delete"
            (click)="delete(i); $event.stopPropagation()">x</button>
    <br><br>
  </div>
  <br>
  <button  (click)="enableAdd()">Add more</button>


</div>

<!--=================== EDIT ========================-->

<div *ngIf="isEditEnabled">


  <div>
    <label>addresses street: </label>
    <input [(ngModel)]="tempAddress.street" placeholder="street">
  </div>
  <div>
    <label>addresses city: </label>
    <input [(ngModel)]="tempAddress.city" placeholder="city">
  </div>
  <div>
    <label>addresses country: </label>
    <input [(ngModel)]="tempAddress.country" placeholder="country">
  </div>
  <div>
    <label>addresses type: </label>
    <input [(ngModel)]="tempAddress.type" placeholder="country">
  </div>
  <button (click)="disableEdit()">Undo Changes</button>
  <button (click)="update()">Save</button>

</div>

<!--=================== ADD ========================-->
<div *ngIf="isAddEnabled" class="container">

  <form (ngSubmit)="add()" #addressForm="ngForm">

    <div class="form-group" >
      <label for="street">street</label>
      <input type="text" class="form-control"
             id="street"
             [class.controlError]="formErrors.street"
             [class.noControlError]="!formErrors.street"
             [(ngModel)]="tempAddress.street" name="street"
             #street="ngModel">
      <div *ngIf="formErrors.street && (street.touched)" class="alert alert-danger">
        {{ formErrors.street }}
      </div>
    </div>

    <div class="form-group" >
      <label for="city">city</label>
      <input type="text" class="form-control"
             id="city"
             [class.controlError]="formErrors.city"
             [class.noControlError]="!formErrors.city"
             [(ngModel)]="tempAddress.city" name="city"
             #city="ngModel">
      <div *ngIf="formErrors.city && (city.touched)" class="alert alert-danger">
        {{ formErrors.city }}

      </div>
    </div>
    <div class="form-group" >
      <label for="country">country</label>
      <input type="text" class="form-control"
             id="country"
             [class.controlError]="formErrors.country"
             [class.noControlError]="!formErrors.country"
             [(ngModel)]="tempAddress.country" name="country"
             #country="ngModel">
      <div *ngIf="formErrors.country && (country.touched)" class="alert alert-danger">
        {{ formErrors.country }}

      </div>
    </div>

    <div class="form-group">
      <label for="type">Type</label>
      <select class="form-control" id="type"
              [class.controlError]="formErrors.type"
              [class.noControlError]="!formErrors.type"
              [(ngModel)]="tempAddress.type" name="type"
              #type="ngModel">
        <option *ngFor="let type of types" [value]="type" def>{{type}}</option>
      </select>
      <div *ngIf="formErrors.type && (type.touched)" class="alert alert-danger">
        {{ formErrors.type }}

      </div>
    </div>


    <button type="submit" class="btn btn-success" [disabled]="!isSubmitable()">Submit</button>
  </form>
</div>


<!--<div *ngIf="addresses && !isEditEnabled" >-->

<!--<div *ngFor="let address of addresses; let i = index">-->

<!--Street: {{address.street}}<br>-->
<!--City: {{address.city}}<br>-->
<!--Country: {{address.country}}<br>-->
<!--Type: {{address.type}}<br>-->
<!--<button style="align-content: flex-end" (click)="enableEdit(i)">Edit</button><br><br>-->
<!--</div>-->
<!--<br>-->
<!--<button (click)="enableAdd()">Add more</button>-->


<!--</div>-->

<!--&lt;!&ndash;=================== EDIT ========================&ndash;&gt;-->

<!--<div *ngIf="isEditEnabled" >-->


<!--<div>-->
<!--<label>addresses street: </label>-->
<!--<input [(ngModel)]="tempAddress.street" placeholder="street">-->
<!--</div>-->
<!--<div>-->
<!--<label>addresses city: </label>-->
<!--<input [(ngModel)]="tempAddress.city" placeholder="city">-->
<!--</div>-->
<!--<div>-->
<!--<label>addresses country: </label>-->
<!--<input [(ngModel)]="tempAddress.country" placeholder="country">-->
<!--</div>-->
<!--<div>-->
<!--<label>addresses type: </label>-->
<!--<input [(ngModel)]="tempAddress.type" placeholder="country">-->
<!--</div>-->
<!--<button (click)="disableEdit()">Undo Changes</button>-->
<!--<button (click)="update()">Save</button>-->

<!--</div>-->

<!--&lt;!&ndash;=================== ADD ========================&ndash;&gt;-->
<!--<div *ngIf="isAddEnabled" >-->

<!--<div>-->
<!--<label>addresses street: </label>-->
<!--<input [(ngModel)]="tempAddress.street" placeholder="street">-->
<!--</div>-->
<!--<div>-->
<!--<label>addresses city: </label>-->
<!--<input [(ngModel)]="tempAddress.city" placeholder="city">-->
<!--</div>-->
<!--<div>-->
<!--<label>addresses country: </label>-->
<!--<input [(ngModel)]="tempAddress.country" placeholder="country">-->
<!--</div>-->
<!--<div>-->
<!--<label>addresses type: </label>-->
<!--<input [(ngModel)]="tempAddress.type" placeholder="type">-->
<!--</div>-->
<!--<button (click)="disableAdd()">Close</button>-->
<!--<button (click)="add()">Save</button>-->

<!--</div>-->

