<div *ngIf="addresses && !isEditEnabled" >

<div *ngFor="let address of addresses; let i = index">

    Street: {{address.street}}<br>
    City: {{address.city}}<br>
    Country: {{address.country}}<br>
    Type: {{address.type}}<br>
    <button style="align-content: flex-end" (click)="enableEdit(i)">Edit</button><br><br>
  </div>
  <br>
  <button (click)="enableAdd()">Add more</button>


</div>

<!--=================== EDIT ========================-->

<div *ngIf="isEditEnabled" >


<div>
  <label>addresses street: </label>
  <input [(ngModel)]="tempAddress.street" placeholder="street">
</div>
  <div>
    <label>addresses city: </label>
    <input [(ngModel)]="tempAddress.city" placeholder="city">
  </div>
  <div>
    <label>addresses country: </label>
    <input [(ngModel)]="tempAddress.country" placeholder="country">
  </div>
  <div>
    <label>addresses type: </label>
    <input [(ngModel)]="tempAddress.type" placeholder="country">
  </div>
<button (click)="disableEdit()">Undo Changes</button>
<button (click)="update()">Save</button>

</div>

<!--=================== ADD ========================-->
<div *ngIf="isAddEnabled" >

  <div>
    <label>addresses street: </label>
    <input [(ngModel)]="tempAddress.street" placeholder="street">
  </div>
  <div>
    <label>addresses city: </label>
    <input [(ngModel)]="tempAddress.city" placeholder="city">
  </div>
  <div>
    <label>addresses country: </label>
    <input [(ngModel)]="tempAddress.country" placeholder="country">
  </div>
  <div>
    <label>addresses type: </label>
    <input [(ngModel)]="tempAddress.type" placeholder="type">
  </div>
  <button (click)="disableAdd()">Close</button>
  <button (click)="add()">Save</button>

</div>

