<!--<p *ngIf="education">-->
  <!--Institute: {{education.institute}}<br>-->
  <!--Degree: {{education.degree}}<br>-->
  <!--Field: {{education.field}}<br>-->
  <!--GPA: {{education.gpa}}<br>-->
  <!--Passing Date: {{education.passingDate}}<br>-->
<!--</p>-->

<div *ngIf="!isEditEnabled">

  <div *ngFor="let education of educations;let i = index">
    <br>
    <div style="display: inline-block" >
      Institute: {{education.institute}}<br>
      Degree: {{education.degree}}<br>
      Field: {{education.field}}<br>
      GPA: {{education.gpa}}<br>
      Passing Date: {{education.passingDate}}<br>

    </div>
    <button style="float: right;" (click)="enableEdit(i)">Edit</button>
    <button class="delete"
            (click)="delete(i); $event.stopPropagation()">x</button>
    <br><br>
  </div>
  <br><br>
  <button (click)="enableAdd()">Add More</button>

  <br>

</div>

<!--=================== EDIT ========================-->

<div *ngIf="isEditEnabled">

  <form (ngSubmit)="update()" #educationForm  ="ngForm">


    <div class="form-group">
      <label for="institute">Institute: </label>
      <input type="text" class="form-control" id="institute"
             [class.controlError]="formErrors.institute"
             [class.noControlError]="!formErrors.institute"
             [(ngModel)]="tempEducation.institute" placeholder="institute"
             #institute="ngModel" name="institute">
      <div *ngIf="formErrors.institute && (institute.touched)" class="alert alert-danger">
        {{ formErrors.institute }}
      </div>
    </div>

    <div class="form-group">
      <label for="degree">Degree: </label>
      <input type="text" class="form-control" id="degree"
             [class.controlError]="formErrors.degree"
             [class.noControlError]="!formErrors.degree"
             [(ngModel)]="tempEducation.degree" placeholder="degree"
             #degree="ngModel" name="degree">
      <div *ngIf="formErrors.degree && (degree.touched)" class="alert alert-danger">
        {{ formErrors.degree }}
      </div>
    </div>

    <div class="form-group">
      <label for="field">Field: </label>
      <input type="text" class="form-control" id="field"
             [class.controlError]="formErrors.field"
             [class.noControlError]="!formErrors.field"
             [(ngModel)]="tempEducation.field" placeholder="field"
             #field="ngModel" name="field">
      <div *ngIf="formErrors.field && (field.touched)" class="alert alert-danger">
        {{ formErrors.field }}
      </div>
    </div>
    <div class="form-group">
      <label for="gpa">Gpa: </label>
      <input type="text" class="form-control" id="gpa"
             [class.controlError]="formErrors.gpa"
             [class.noControlError]="!formErrors.gpa"
             [(ngModel)]="tempEducation.gpa" placeholder="gpa"
             #gpa="ngModel" name="gpa">
      <div *ngIf="formErrors.gpa && (gpa.touched)" class="alert alert-danger">
        {{ formErrors.gpa }}
      </div>
    </div>

    <div class="form-group">
      <label for="passingDate">Passing Date: </label>
      <input type="date" class="form-control" id="passingDate"
             [class.controlError]="formErrors.passingDate"
             [class.noControlError]="!formErrors.passingDate"
             [(ngModel)]="tempEducation.passingDate" placeholder="Passing Date"
             #passingDate="ngModel" name="passingDate">
      <div *ngIf="formErrors.passingDate && (passingDate.touched)" class="alert alert-danger">
        {{ formErrors.passingDate }}
      </div>
    </div>
    <button (click)="disableEdit()">Undo Changes</button>

    <button type="submit" class="btn btn-success" [disabled]="!isDisabled()">Update</button>

  </form>

</div>

<!--=================== Add ========================-->


<div *ngIf="isAddEnabled">

  <form (ngSubmit)="add()" #educationForm="ngForm">


    <div class="form-group">
      <label for="add_institute">Institute: </label>
      <input type="text" class="form-control" id="add_institute"
             [class.controlError]="formErrors.institute"
             [class.noControlError]="!formErrors.institute"
             [(ngModel)]="tempEducation.institute" placeholder="institute"
             #institute="ngModel" name="institute">
      <div *ngIf="formErrors.institute && (institute.touched)" class="alert alert-danger">
        {{ formErrors.institute }}
      </div>
    </div>

    <div class="form-group">
      <label for="add_degree">Degree: </label>
      <input type="text" class="form-control" id="add_degree"
             [class.controlError]="formErrors.degree"
             [class.noControlError]="!formErrors.degree"
             [(ngModel)]="tempEducation.degree" placeholder="degree"
             #degree="ngModel" name="degree">
      <div *ngIf="formErrors.degree && (degree.touched)" class="alert alert-danger">
        {{ formErrors.degree }}
      </div>
    </div>

    <div class="form-group">
      <label for="add_field">Field: </label>
      <input type="text" class="form-control" id="add_field"
             [class.controlError]="formErrors.field"
             [class.noControlError]="!formErrors.field"
             [(ngModel)]="tempEducation.field" placeholder="field"
             #field="ngModel" name="field">
      <div *ngIf="formErrors.field && (field.touched)" class="alert alert-danger">
        {{ formErrors.field }}
      </div>
    </div>
    <div class="form-group">
      <label for="add_gpa">Gpa: </label>
      <input type="text" class="form-control" id="add_gpa"
             [class.controlError]="formErrors.gpa"
             [class.noControlError]="!formErrors.gpa"
             [(ngModel)]="tempEducation.gpa" placeholder="gpa"
             #gpa="ngModel" name="gpa">
      <div *ngIf="formErrors.gpa && (gpa.touched)" class="alert alert-danger">
        {{ formErrors.gpa }}
      </div>
    </div>

    <div class="form-group">
      <label for="add_passingDate">Passing Date: </label>
      <input type="date" class="form-control" id="add_passingDate"
             [class.controlError]="formErrors.passingDate"
             [class.noControlError]="!formErrors.passingDate"
             [(ngModel)]="this.tempEducation.passingDate" placeholder="Passing Date"
             #passingDate="ngModel" name="passingDate">
      <div *ngIf="formErrors.passingDate && (passingDate.touched)" class="alert alert-danger">
        {{ formErrors.passingDate }}
      </div>
    </div>
    <button  type="submit" class="btn btn-success" [disabled]="!isDisabled()">Add</button>
  </form>

</div>
