<p *ngIf="employee">


  Name: {{employee.name}}<br>

  Code: {{employee.code}}<br>
  Designation: {{employee.designation}}<br>
  Email: {{employee.email}}<br>
  Tenure: {{employee.tenure}}<br>
  Gender: {{employee.gender}}<br>
  Date of Birth: {{employee.dob}}<br>
  Marital Status: {{employee.maritalStatus}}<br>
  Manager: {{employee.manager}}<br>
  Joining Date: {{employee.joiningDate}}<br>
  Last Date:{{employee.lastDate}}<br>
  Status: {{employee.status}}<br>
  Seat No: {{employee.seatNo}}<br>
  IsActive: {{employee.active}}<br>



</p>

