<md-card >
  <div *ngIf="employee">

    <md-card-header>
      <md-card-title><h2 >Employee Information</h2></md-card-title>

    </md-card-header>
    <md-card-content>
      <md-list  class="two-columns">
        <md-list-item><strong>Name:&nbsp;</strong> {{employee.name}}</md-list-item>
        <md-list-item><strong>Code:&nbsp;</strong> {{employee.code}}</md-list-item>
        <md-list-item><strong>Designation:&nbsp;</strong> {{employee.designation}}</md-list-item>
        <md-list-item><strong>Email:&nbsp;</strong> {{employee.email}}</md-list-item>
        <md-list-item><strong>Tenure:&nbsp;</strong> {{employee.tenure}}</md-list-item>
        <md-list-item><<strong>Gender:&nbsp;</strong> {{employee.gender}}</md-list-item>
        <md-list-item><strong>Date of Birth:&nbsp;</strong> {{employee.dob}}</md-list-item>
        <md-list-item><strong>Marital Status:&nbsp;</strong> {{employee.maritalStatus}}</md-list-item>
        <md-list-item><strong>Manager:&nbsp;</strong> {{employee.manager}}</md-list-item>
        <md-list-item><strong>Joining Date:&nbsp;</strong> {{employee.joiningDate}}</md-list-item>
        <md-list-item><strong>Last Date:&nbsp;</strong>{{employee.lastDate}}</md-list-item>
        <md-list-item><strong>Status:&nbsp;</strong> {{employee.status}}</md-list-item>
        <md-list-item><strong>Seat No:&nbsp;</strong> {{employee.seatNo}}</md-list-item>
        <md-list-item><strong>IsActive:&nbsp;</strong> {{employee.active}}</md-list-item>
      </md-list>
    </md-card-content>


  </div>
</md-card>
