
<div *ngIf="!isEditEnabled">

  <div *ngIf="contactDetails.cnic">
    <br>
    <div style="display: inline-block" >
      Cnic: {{contactDetails.cnic}}<br>
      Personal Email: {{contactDetails.personalEmail}}<br>
      Mobile Number: {{contactDetails.mobileNumber}}<br>
      Phone Number: {{contactDetails.phoneNumber}}<br>
      Skype: {{contactDetails.skype}}<br>
      <br>
      Emergency Address: {{contactDetails.emergencyName}}<br>
      Emergency Name: {{contactDetails.emergencyAddress}}<br>
      Emergency Number: {{contactDetails.emergencyNumber}}<br>
      Emergency Relation: {{contactDetails.emergencyRelation}}<br>
    </div>
    <button style="float: right;" (click)="enableEdit()">Edit</button>
    <br><br>

  </div>
  <br><br>
  <button  *ngIf="!contactDetails.cnic" (click)="enableAdd()">Add Contact Details</button>

  <br>

</div>

<!--=================== EDIT ========================-->

<div *ngIf="isEditEnabled">

  <form (ngSubmit)="update()" #contactForm="ngForm">

    <div class="form-group">
      <label for="cnic">CNIC: </label>
      <input [disabled]="true" type="text" class="form-control" id="cnic"
             [class.controlError]="formErrors.cnic"
             [class.noControlError]="!formErrors.cnic"
             [(ngModel)]="tempDetails.cnic" placeholder="cnic"
             #cnic="ngModel" name="cnic">
      <div *ngIf="formErrors.cnic && (cnic.touched || cnic.dirty)" class="alert alert-danger">
        {{ formErrors.cnic }}
      </div>
    </div>
    <div class="form-group">
      <label for="personalEmail">Personal Email: </label>
      <input type="text" class="form-control" id="personalEmail"
             [class.controlError]="formErrors.personalEmail"
             [class.noControlError]="!formErrors.personalEmail"
             [(ngModel)]="tempDetails.personalEmail" placeholder="personalEmail"
             #personalEmail="ngModel" name="personalEmail">
      <div *ngIf="formErrors.personalEmail && (personalEmail.touched || personalEmail.dirty)" class="alert alert-danger">
        {{ formErrors.personalEmail }}
      </div>
    </div>

    <div class="form-group">
      <label for="mobileNumber">Mobile Number: </label>
      <input type="text" class="form-control" id="mobileNumber"
             [class.controlError]="formErrors.mobileNumber"
             [class.noControlError]="!formErrors.mobileNumber"
             [(ngModel)]="tempDetails.mobileNumber" placeholder="mobileNumber"
             #mobileNumber="ngModel" name="mobileNumber">
      <div *ngIf="formErrors.mobileNumber && (mobileNumber.touched || mobileNumber.dirty)" class="alert alert-danger">
        {{ formErrors.mobileNumber }}
      </div>
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone Number: </label>
      <input type="text" class="form-control" id="phoneNumber"
             [class.controlError]="formErrors.phoneNumber"
             [class.noControlError]="!formErrors.phoneNumber"
             [(ngModel)]="tempDetails.phoneNumber" placeholder="phoneNumber"
             #phoneNumber="ngModel" name="phoneNumber">
      <div *ngIf="formErrors.phoneNumber && (phoneNumber.touched || phoneNumber.dirty)" class="alert alert-danger">
        {{ formErrors.phoneNumber }}
      </div>
    </div>
    <div class="form-group">
      <label for="skype">Skype: </label>
      <input type="text" class="form-control" id="skype"
             [class.controlError]="formErrors.skype"
             [class.noControlError]="!formErrors.skype"
             [(ngModel)]="tempDetails.skype" placeholder="skype"
             #skype="ngModel" name="skype">
      <div *ngIf="formErrors.skype && (skype.touched || skype.dirty)" class="alert alert-danger">
        {{ formErrors.skype }}
      </div>
    </div>

    <div class="form-group">
      <label for="emergencyName">Emergency Name: </label>
      <input type="text" class="form-control" id="emergencyName"
             [class.controlError]="formErrors.emergencyName"
             [class.noControlError]="!formErrors.emergencyName"
             [(ngModel)]="tempDetails.emergencyName" placeholder="emergencyName"
             #emergencyName="ngModel" name="emergencyName">
      <div *ngIf="formErrors.emergencyName && (emergencyName.touched || emergencyName.dirty)" class="alert alert-danger">
        {{ formErrors.emergencyName }}
      </div>
    </div>
    <div class="form-group">
      <label for="emergencyNumber">Emergeny Number: </label>
      <input type="text" class="form-control" id="emergencyNumber"
             [class.controlError]="formErrors.emergencyNumber"
             [class.noControlError]="!formErrors.emergencyNumber"
             [(ngModel)]="tempDetails.emergencyNumber" placeholder="emergencyNumber"
             #emergencyNumber="ngModel" name="emergencyNumber">
      <div *ngIf="formErrors.emergencyNumber && (emergencyNumber.touched || emergencyNumber.dirty)" class="alert alert-danger">
        {{ formErrors.emergencyNumber }}
      </div>
    </div>
    <div class="form-group">
      <label for="emergencyAddress">Emergency Address: </label>
      <input type="text" class="form-control" id="emergencyAddress"
             [class.controlError]="formErrors.emergencyAddress"
             [class.noControlError]="!formErrors.emergencyAddress"
             [(ngModel)]="tempDetails.emergencyAddress" placeholder="emergencyAddress"
             #emergencyAddress="ngModel" name="emergencyAddress">
      <div *ngIf="formErrors.emergencyAddress && (emergencyAddress.touched || emergencyAddress.dirty)" class="alert alert-danger">
        {{ formErrors.emergencyAddress }}
      </div>
    </div>
    <div class="form-group">
      <label for="emergencyRelation">Emergency Relation: </label>
      <input type="text" class="form-control" id="emergencyRelation"
             [class.controlError]="formErrors.emergencyRelation"
             [class.noControlError]="!formErrors.emergencyRelation"
             [(ngModel)]="tempDetails.emergencyRelation" placeholder="emergencyRelation"
             #emergencyRelation="ngModel" name="emergencyRelation">
      <div *ngIf="formErrors.emergencyRelation && (emergencyRelation.touched || emergencyRelation.dirty)" class="alert alert-danger">
        {{ formErrors.emergencyRelation }}
      </div>
    </div>
    <button (click)="disableEdit()">Undo Changes</button>

    <button type="submit" class="btn btn-success" [disabled]="!isDisabled()">Update</button>

  </form>

</div>

<!--=================== Add ========================-->


<div *ngIf="isAddEnabled">

  <form (ngSubmit)="add()" #contactForm="ngForm">

    <div class="form-group">
      <label for="add_cnic">CNIC: </label>
      <input type="text" class="form-control" id="add_cnic"
             [class.controlError]="formErrors.cnic"
             [class.noControlError]="!formErrors.cnic"
             [(ngModel)]="tempDetails.cnic" placeholder="cnic"
             #cnic="ngModel" name="cnic">
      <div *ngIf="formErrors.cnic && (cnic.touched || cnic.dirty)" class="alert alert-danger">
        {{ formErrors.cnic }}
      </div>
    </div>
    <div class="form-group">
      <label for="add_personalEmail">Personal Email: </label>
      <input type="text" class="form-control" id="add_personalEmail"
             [class.controlError]="formErrors.personalEmail"
             [class.noControlError]="!formErrors.personalEmail"
             [(ngModel)]="tempDetails.personalEmail" placeholder="email"
             #personalEmail="ngModel" name="personalEmail">
      <div *ngIf="formErrors.personalEmail && (personalEmail.touched || personalEmail.dirty)" class="alert alert-danger">
        {{ formErrors.personalEmail }}
      </div>
    </div>

    <div class="form-group">
      <label for="add_mobileNumber">Mobile Number: </label>
      <input type="text" class="form-control" id="add_mobileNumber"
             [class.controlError]="formErrors.mobileNumber"
             [class.noControlError]="!formErrors.mobileNumber"
             [(ngModel)]="tempDetails.mobileNumber" placeholder="Mobile Number"
             #mobileNumber="ngModel" name="mobileNumber">
      <div *ngIf="formErrors.mobileNumber && (mobileNumber.touched || mobileNumber.dirty)" class="alert alert-danger">
        {{ formErrors.mobileNumber }}
      </div>
    </div>

    <div class="form-group">
      <label for="add_phoneNumber">Phone Number: </label>
      <input type="text" class="form-control" id="add_phoneNumber"
             [class.controlError]="formErrors.phoneNumber"
             [class.noControlError]="!formErrors.phoneNumber"
             [(ngModel)]="tempDetails.phoneNumber" placeholder="Phone Number"
             #phoneNumber="ngModel" name="phoneNumber">
      <div *ngIf="formErrors.phoneNumber && (phoneNumber.touched || phoneNumber.dirty)" class="alert alert-danger">
        {{ formErrors.phoneNumber }}
      </div>
    </div>
    <div class="form-group">
      <label for="add_skype">Skype: </label>
      <input type="text" class="form-control" id="add_skype"
             [class.controlError]="formErrors.skype"
             [class.noControlError]="!formErrors.skype"
             [(ngModel)]="tempDetails.skype" placeholder="Skype"
             #skype="ngModel" name="skype">
      <div *ngIf="formErrors.skype && (skype.touched || skype.dirty)" class="alert alert-danger">
        {{ formErrors.skype }}
      </div>
    </div>

    <div class="form-group">
      <label for="add_emergencyName">Emergency Name: </label>
      <input type="text" class="form-control" id="add_emergencyName"
             [class.controlError]="formErrors.emergencyName"
             [class.noControlError]="!formErrors.emergencyName"
             [(ngModel)]="tempDetails.emergencyName" placeholder="Emergency Name"
             #emergencyName="ngModel" name="emergencyName">
      <div *ngIf="formErrors.emergencyName && (emergencyName.touched || emergencyName.dirty)" class="alert alert-danger">
        {{ formErrors.emergencyName }}
      </div>
    </div>
    <div class="form-group">
      <label for="add_emergencyNumber">Emergeny Number: </label>
      <input type="text" class="form-control" id="add_emergencyNumber"
             [class.controlError]="formErrors.emergencyNumber"
             [class.noControlError]="!formErrors.emergencyNumber"
             [(ngModel)]="tempDetails.emergencyNumber" placeholder="Emergeny Number"
             #emergencyNumber="ngModel" name="emergencyNumber">
      <div *ngIf="formErrors.emergencyNumber && (emergencyNumber.touched || emergencyNumber.dirty)" class="alert alert-danger">
        {{ formErrors.emergencyNumber }}
      </div>
    </div>
    <div class="form-group">
      <label for="add_emergencyAddress">Emergency Address: </label>
      <input type="text" class="form-control" id="add_emergencyAddress"
             [class.controlError]="formErrors.emergencyAddress"
             [class.noControlError]="!formErrors.emergencyAddress"
             [(ngModel)]="tempDetails.emergencyAddress" placeholder="Emergency Address"
             #emergencyAddress="ngModel" name="emergencyAddress">
      <div *ngIf="formErrors.emergencyAddress && (emergencyAddress.touched || emergencyAddress.dirty)" class="alert alert-danger">
        {{ formErrors.emergencyAddress }}
      </div>
    </div>
    <div class="form-group">
      <label for="add_emergencyRelation">Emergency Relation: </label>
      <input type="text" class="form-control" id="add_emergencyRelation"
             [class.controlError]="formErrors.emergencyRelation"
             [class.noControlError]="!formErrors.emergencyRelation"
             [(ngModel)]="tempDetails.emergencyRelation" placeholder="Emergency Relation"
             #emergencyRelation="ngModel" name="emergencyRelation">
      <div *ngIf="formErrors.emergencyRelation && (emergencyRelation.touched || emergencyRelation.dirty)" class="alert alert-danger">
        {{ formErrors.emergencyRelation }}
      </div>
    </div>
    <button (click)="disableAdd()">Close</button>

    <button  type="submit" class="btn btn-success" [disabled]="!isDisabled()">Add</button>
  </form>

</div>
