<p *ngIf="contactDetails">

  Cnic: {{contactDetails.cnic}}<br>
  Personal Email: {{contactDetails.personalEmail}}<br>
  Mobile Number: {{contactDetails.mobileNumber}}<br>
  Phone Number: {{contactDetails.phoneNumber}}<br>
  Skype: {{contactDetails.skype}}<br>
  Emergency Address: {{contactDetails.emergencyAddress}}<br>
  Emergency Name: {{contactDetails.emergencyName}}<br>
  Emergency Number: {{contactDetails.emergencyNumber}}<br>
  Emergency Relation: {{contactDetails.emergencyRelation}}<br>
</p>
