<div *ngIf="addresses && !isEditEnabled">


  <div  *ngFor="let address of addresses;  let i = index">
    <br><br>
    <div style="display: inline-block">
      Street: {{address.street}}<br>
      City: {{address.city}}<br>
      Country: {{address.country}}<br>
      Type: {{address.type}}<br>
    </div>
    <button style="float: right;" (click)="enableEdit(i)">Edit</button>
    <button class="delete"
            (click)="delete(i); $event.stopPropagation()">x</button>
    <br><br>
  </div>
  <br>
  <button *ngIf="checkToAddMore()" (click)="enableAdd()">Add more</button>


</div>

<!--=================== EDIT ========================-->

<div *ngIf="isEditEnabled" class="container">

  <form (ngSubmit)="update()" #addressForm="ngForm">

  <div class="form-group" >
    <label for="streetE">street</label>
    <input type="text" class="form-control"
           id="streetE"
           [class.controlError]="formErrors.street"
           [class.noControlError]="!formErrors.street"
           [(ngModel)]="tempAddress.street" name="street"
           #street="ngModel">
    <div *ngIf="formErrors.street && (street.touched || street.dirty || street.dirty)" class="alert alert-danger">
      {{ formErrors.street }}
    </div>
  </div>

  <div class="form-group" >
    <label for="cityE">city</label>
    <input type="text" class="form-control"
           id="cityE"
           [class.controlError]="formErrors.city"
           [class.noControlError]="!formErrors.city"
           [(ngModel)]="tempAddress.city" name="city"
           #city="ngModel">
    <div *ngIf="formErrors.city && (city.touched || city.dirty)" class="alert alert-danger">
      {{ formErrors.city }}

    </div>
  </div>
  <div class="form-group" >
    <label for="countryE">country</label>
    <input type="text" class="form-control"
           id="countryE"
           [class.controlError]="formErrors.country"
           [class.noControlError]="!formErrors.country"
           [(ngModel)]="tempAddress.country" name="country"
           #country="ngModel">
    <div *ngIf="formErrors.country && (country.touched || country.dirty)" class="alert alert-danger">
      {{ formErrors.country }}

    </div>
  </div>

  <div class="form-group">
    <label for="typeE">Type</label>
    <select [disabled]="!checkToAddMore()"   class="form-control" id="typeE"
            [class.controlError]="formErrors.type"
            [class.noControlError]="!formErrors.type"
            [(ngModel)]="tempAddress.type" name="type"
            #type="ngModel">
      <option *ngFor="let type of types" [value]="type" >{{type}}</option>
    </select>
    <div *ngIf="formErrors.type && (type.touched || type.dirty)" class="alert alert-danger">
      {{ formErrors.type }}

    </div>
  </div>

  <button (click)="disableEdit()">Undo Changes</button>
     <button type="submit" class="btn btn-success" [disabled]="!isDisabled()">Submit</button>
  </form>

</div>

<!--=================== ADD ========================-->
<div *ngIf="isAddEnabled" class="container">

  <form (ngSubmit)="add()" #addressForm="ngForm">

    <div class="form-group" >
      <label for="street">street</label>
      <input type="text" class="form-control"
             id="street"
             [class.controlError]="formErrors.street"
             [class.noControlError]="!formErrors.street"
             [(ngModel)]="tempAddress.street" name="street"
             #street="ngModel">
      <div *ngIf="formErrors.street && (street.touched || street.dirty)" class="alert alert-danger">
        {{ formErrors.street }}
      </div>
    </div>

    <div class="form-group" >
      <label for="city">city</label>
      <input type="text" class="form-control"
             id="city"
             [class.controlError]="formErrors.city"
             [class.noControlError]="!formErrors.city"
             [(ngModel)]="tempAddress.city" name="city"
             #city="ngModel">
      <div *ngIf="formErrors.city && (city.touched || city.dirty)" class="alert alert-danger">
        {{ formErrors.city }}

      </div>
    </div>
    <div class="form-group" >
      <label for="country">country</label>
      <input type="text" class="form-control"
             id="country"
             [class.controlError]="formErrors.country"
             [class.noControlError]="!formErrors.country"
             [(ngModel)]="tempAddress.country" name="country"
             #country="ngModel">
      <div *ngIf="formErrors.country && (country.touched || country.dirty)" class="alert alert-danger">
        {{ formErrors.country }}

      </div>
    </div>

    <div class="form-group">
      <label for="type">Type</label>
      <select class="form-control" id="type"
              [class.controlError]="formErrors.type"
              [class.noControlError]="!formErrors.type"
              [(ngModel)]="tempAddress.type" name="type"
              #type="ngModel">
        <option *ngFor="let type of types" [value]="type" def>{{type}}</option>
      </select>
      <div *ngIf="formErrors.type && (type.touched || type.dirty)" class="alert alert-danger">
        {{ formErrors.type }}

      </div>
    </div>


    <button type="submit" class="btn btn-success" [disabled]="!isDisabled()">Submit</button>
  </form>
  <div *ngIf="updateError"> {{updateError}}</div>
</div>
